.col-md-6, .col-xl-4, .col-xl-12, .col-xl-3, .col-md-3, .col, .align-self-center{
	.fas, .fab {
		font-size: 4rem;
		color: #104e8b;
	}
	&:hover {
		.fas, .fab{
				color: grey;
		}
		border: 0.01em solid grey;
	}
}

.d-flex {
	padding-top: 0.9em;
}
